/* noto-sans-jp-regular - latin_japanese */
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/noto-sans-jp-v42-latin_japanese-regular.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/noto-sans-jp-v42-latin_japanese-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-jp-700 - latin_japanese */
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/noto-sans-jp-v42-latin_japanese-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/noto-sans-jp-v42-latin_japanese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
	color: #111827;
	overscroll-behavior: none;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath opacity='1' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/*Typography*/
input,
button {
	font-family: inherit;
}

p,
input,
button {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

/* Utility */
.hflex {
	display: flex;
}

.space-btwn {
	justify-content: space-between;
}

.baseline {
	align-items: baseline;
}

.vertical-center {
	align-items: center;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
}

.wrap-rev {
	flex-wrap: wrap-reverse;
}

.hidden {
	display: none;
}

nav {
	background-color: white;
	padding: 0.5rem 2vw;
	background-color: none;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

h1.logo {
	cursor: pointer;
}

label > p {
	background-color: #f9fafb;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 0.2rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.add-thread-cont {
	gap: 0.5rem;
}

div.limit-msg {
	margin-right: 0.5rem;
}

input {
	background-color: #f9fafb;
	width: 11.5ch;
	margin-right: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.1rem;
}

input::placeholder {
	color: #9ca3af;
}

div.empty-state {
	border: 3px dashed rgba(0, 0, 0, 0.5);
	height: 70vh;
	border-radius: 1rem;
	width: 80ch;
	text-align: center;
}

main.list {
	position: relative;
	top: 3.5rem;
	min-height: calc(100vh - 3.5rem);
	gap: 1.5rem;
	padding: 2rem 0;
}

.error {
	color: #b91c1c;
}

div.thread-card {
	position: relative;
	background-color: white;
	border-radius: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 2rem;
	width: 80ch;
	cursor: pointer;
}

div.thread-card > h1 {
	font-size: clamp(1.5rem, 1.3333rem + 0.7407vw, 2rem);
	margin-bottom: 0rem;
}

div.thread-info {
	gap: 0.5rem;
}

span.post-count {
	font-weight: 700;
	color: #4b5563;
}

div.update-bubble {
	position: absolute;
	top: -0.6rem;
	right: -0.5rem;
	padding: 0.8rem;
	color: #064e3b;
	text-align: center;
	background-color: #34d399;
	border: 2px solid white;
	border-radius: 100rem;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.08);
}

.icon-gap {
	gap: 0.3rem;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -3.5rem;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	min-height: calc(200vh);
}

.modal {
	position: relative;
	background-color: white;
	width: 95ch;
	margin-left: auto;
	margin-right: auto;
	z-index: 3;
	min-height: inherit;
	padding-bottom: 2rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
}

.thread-cont {
	width: calc(65ch + 4ch);
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 3;
	margin-bottom: 1rem;
}

header > div.header-cont {
	width: calc(65ch + 4ch);
	margin-left: auto;
	margin-right: auto;
}

div.title-cont {
	margin-bottom: 0.5rem;
}

div.title-cont > h2 {
	font-size: clamp(1.125rem, 1rem + 0.5556vw, 1.5rem);
}

div.page-controls {
	gap: 1rem;
}

div.page-control-cont {
	gap: 1rem;
}

button {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
	padding: 0.7rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

button.add {
	background-color: #34d399;
	padding: 0.5rem 0.5rem;
}

button:disabled {
	cursor: not-allowed;
}

button.delete {
	width: 44px;
	height: 44px;
	padding: 0.2rem;
	opacity: 0.5;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0);
}

button.delete:hover {
	opacity: 1;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

button.close {
	padding: 0.5rem;
}

.post {
	margin-bottom: 2rem;
	align-items: baseline;
}

.post-id {
	width: 4ch;
	justify-content: center;
}

.post-id > p {
	font-weight: 700;
	color: #4b5563;
}

.post-info {
	width: 65ch;
	padding-left: 1rem;
}

.post-header {
	justify-content: space-between;
	margin-bottom: 1rem;
}

.post-header > p {
	font-size: 0.8rem;
}

.message {
	white-space: pre-wrap;
	background-color: #f9fafb;
	border-radius: 1rem;
	padding: 1.5rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

@media screen and (max-width: 964px) {
	.modal {
		width: 100vw;
		padding: 0 1rem;
	}
}

@media screen and (max-width: 819px) {
	div.thread-card,
	div.empty-state {
		width: 90vw;
	}
}

@media screen and (max-width: 791px) {
	div.thread-card > h1 {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 771px) {
	.thread-cont,
	header > div.header-cont,
	.post-info {
		width: 90vw;
	}

	.post-header {
		flex-wrap: wrap;
		gap: 0.5rem;
	}
}
